* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Ubuntu"; */
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343a40;
    transition: 300ms all ease;
}

.fade-out {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.logo {
    position: absolute;
    animation: logoloader 1.5s linear infinite;
}

@keyframes logoloader {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

::-webkit-scrollbar {
    width: 0;
}

.scroll-path {
    right: 0;
    position: fixed;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0 0.5);
    z-index: 111;
}

.progress-bar {
    right: 0;
    position: fixed;
    top: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 111;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.progress-bar:before {
    content: '';
    right: 0;
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
    z-index: 111;

}

.progress-bar:after {
    content: '';
    right: 0;
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
    z-index: 111;

}

body {
    height: 100vh;
    z-index: -10;
    /* background: url("imgs/portfolio-v2-design-resized.png") no-repeat center; */
}

#header {
    width: 100%;
    box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    z-index: 111111;
    height: 60px;
}

#header .right .links a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    transition: all 0.5s ease;
    /* font-family: "Open Sans"; */
    font-family: "Roboto Mono" !important;

}

#header .right .links a:hover {
    color: #f00;
}

#heros {
    height: 90.6vh;
    width: 100%;
    box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
    /* background: rgba(255, 255, 255, 0.1); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1); */
    /* overflow: hidden; */
    /* backdrop-filter: blur(50px); */
    font-family: "Ubuntu";
    z-index: 10;
    background: url("imgs/portfolio-v2-design.png") no-repeat center;
}

#heros .socials ul li a {
    transition: 0.5s;
    color: #f0f;
    cursor: pointer;
    /* display: none; */


}

#heros .socials ul li {
    /* display: none; */
    /* color: #0f0 !important; */
    transition: 200ms ease;
    cursor: pointer;
}

#heros .socials ul li:hover a {
    /* margin-bottom: 4px; */
    color: #0f0 !important;
    transform: translateY(-5px);
}

#heros .socials ul div a {
    font-size: 12px;
}

#heros .socials ul div a:hover {
    color: #0f0 !important;
}

#heros .row {
    transform: translateY(-50%);
    width: 80% !important;
    z-index: -1;
}

#heros .row .col-lg-3 {
    margin-left: 100px !important;
}

#heros .row .col-lg-3 img {
    margin-top: -85px;
    margin-left: 50px;
}

.txt-type>.txt {
    border-right: 0.2rem solid #000;
}

#heros .row .intro .hi {
    font-size: 0.8rem;
}

#heros .row .intro h1 {
    font-size: 4rem;
    background-color: #023020;
    background-image: linear-gradient(to top, #0f0 0%, #023020 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#heros .row .intro h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(23, 43, 23) 0%, #023020 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#heros .row .intro a {
    color: #000;
    position: relative;
    background-color: #444;
    text-decoration: none;
    padding: 18px 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
    border: 1px solid #0f0;
}

#heros .row .intro a:hover {
    letter-spacing: 0.25em;
    box-shadow: 0 0 5px #023020;
    color: #0f0;
    background: rgba(255, 255, 255, 0.9);
}

#heros .row .intro a:before {
    content: '';
    position: absolute;
    inset: 2px;
}

#heros .row .intro a span {
    position: relative;
    z-index: 1;
}

#heros .row .intro a i {
    position: absolute;
    inset: 0;
    display: block;
}

#heros .row .intro a i::before {
    content: '';
    position: absolute;
    width: 10px;
    top: -1px;
    left: 98%;
    transform: translateY(-50%);
    height: 10px;
    background: #27282c;
    border: 2px solid #023020;
    transition: 0.5s;
}

#heros .row .intro a:hover i::before {
    left: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -6px;
    box-shadow: 40px 39px #0f0;
}

.nav {
    width: 10px;
    position: fixed;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    left: auto;
    right: 40px;
    height: 500px;
    /* transform: translateY(-50%); */
    /* top: 50%; */
}

.nav ul {
    margin-top: -130px;
    margin-left: -15px;
}

.nav-items li a {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    transform: rotate(45deg);
    padding: 0 !important;
    margin: 10px;

}

.nav-items li a:hover {
    background-color: #000;
    /* border: 2px solid #ff0000; */
    /* box-shadow: 40px 10px #f00; */
}

.nav-items li a:active {
    border: 2px solid #0f0;
    background-color: #000;
}

.nav:last-child {
    width: 2px;
    background-color: #000;
    height: 100px;
    position: fixed;
    bottom: 0;
}

#About {
    margin: 120px 0;
}

#About .about-top h2 {
    color: #7fca8b;
    font-family: "Ubuntu";
    margin-left: 5px;
}

#About .about-top h2 span {
    color: #023020;
    font-family: "Roboto Mono" !important;
}

#About .about-top div {
    width: 400px;
    height: 2px;
    background-color: #023020;
    margin: auto 20px;
}

#About ul {
    font-size: 0.8rem;
    font-family: "Roboto Mono";
}

#About ul li i {
    color: #0f0;
}

/* #Skills .row {
    height: 60vh;
} */

#Skills ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #023020;
    border-radius: 50%;
    margin: 10px;
}

#Skills .row h1,
#other-projects h1 {
    font-weight: bold;
    color: #3b8606;
}

#other-projects {
    transition: 0.5s all ease-in-out;
    height: auto;
}

#other-projects .containers .card {
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#other-projects .containers .card .link-spot {
    visibility: hidden;
    transition: 0.5s all ease-in-out;
}

#other-projects .containers .card:hover {
    transform: translateY(-8px);
    box-shadow: 15px 8px 6px -6px rgb(235 234 242 / 58%);
}

#other-projects .containers .card:hover .link-spot {
    visibility: visible;
}

#contact {
    margin: 100px auto;
    padding: 50px 0;
}

#contact .row input,
textarea {
    display: block;
    height: 50px;
    /* box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5); */
    background: rgba(103, 102, 102, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    font-family: "Ubuntu";
    border: none;
}

#contact .row input:focus {
    border: none;
    border-bottom: 2px solid #023020;
}

#contact .row textarea {
    overflow: scroll;
}

@media (min-width: 500px) and (max-width: 767px) {
    #heros {
        height: 60vh;
        overflow: visible;
        border-bottom: 1px solid #444;
    }

    #heros .row .col-lg-6 {
        margin-left: 80px !important;
    }

    #heros .row .col-lg-6 h2,
    p {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1180px) {
    #heros {
        height: 60vh;
        overflow: visible;
        border-bottom: 1px solid #444;
    }

    #heros .row {
        width: 100% !important;
    }

    #heros .row .col-lg-6 {
        margin-left: 80px !important;
        width: 70% !important;
    }

    #heros .row .col-lg-3 img {
        display: none !important;
    }

    #heros .row .col-lg-6 h2,
    p {
        width: 100% !important;
    }

    #About {
        width: 75vw;
        margin: 0 auto !important;
        padding: 100px 20px;
    }

    #About .about-top div {
        width: 300px;
        margin: auto 20px;
    }

    #About .sm img {
        width: 300px !important;
        margin-left: 100px;
    }

    #Skills .row {
        display: block !important;
        height: 50vh !important;
    }

    #Skills .col-lg-6 {
        height: 20vh;
    }

    #Skills .mt-auto {
        margin-top: 0 !important;
    }
}

@media (min-width: 250px) and (max-width: 450px) {

    #header .right .links {
        display: none !important;
        position: fixed;
        right: -270px;
        width: 270px;
        height: 100%;
        box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
        background: rgba(71, 69, 69, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        backdrop-filter: blur(5px);
        z-index: 11111;
        display: flex;
        flex-direction: column;
        place-items: center;
        transition: all 0.5s ease;
        margin-top: 50px;
    }

    #header .right .links.active {
        display: block !important;
        right: 0;
        transition: all 0.5s ease;
    }

    #header .right .links li {
        width: 100%;
        text-align: center;
        margin: 10px 0 !important;
        padding: 10px 0 !important;
    }

    #header .right .links li:hover {
        background-color: aliceblue;
    }

    #header .bars.is-active span:nth-child(2) {
        opacity: 0;
    }

    #header .bars.is-active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #header .bars.is-active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #header .bars span {
        width: 35px;
        height: 3px;
        background-color: #000;
        z-index: 111111;
        margin: 3px 0px;
        border-radius: 2px;
        cursor: pointer;
    }

    #heros {
        /* height: 90%; */
        width: 100%;
        z-index: 11111;
        background: url("imgs/Mobile-design-back.png") no-repeat center !important;
    }

    #heros .row {
        width: 100% !important;
        display: block !important;
    }

    #heros .row .col-lg-6 {
        margin-left: 10px !important;
    }

    #heros .row .col-lg-6 .intro {
        width: 100%;
    }

    #heros .row .col-lg-6 .intro .w-25 {
        width: 30% !important;
    }

    #heros .row .col-lg-6 p {
        width: 100%;
    }

    #heros .row .col-lg-6 h1 {
        font-size: 3rem;
    }

    #heros .row .col-lg-6 h2 {
        font-size: 1.7rem;
        font-weight: 900 !important;
    }

    #heros .nav,
    #heros .sm,
    #heros .socials {
        display: none !important;
    }

    #About {
        width: 100vw;
        margin: 0 auto !important;
        padding: 70px 10px;
    }

    #About .about-top div {
        width: 150px;
        margin: auto 10px;
    }

    #About .sm img {
        width: 300px !important;
        margin-left: 100px;
    }

    #Skills .row {
        display: block !important;
        width: 100% !important;
        height: 100vh !important;
        padding: 10px !important;
    }

    #Skills .col-lg-6 {
        /* height: 50vh; */
        width: 100% !important;
    }

    #Skills .mt-auto {
        /* margin-top: 0 !important; */
    }

    #other-projects {
        width: 100% !important;
        padding: 10px;
    }

    #contact {
        width: 100% !important;
    }

    #contact p {
        padding: 0 20px !important;
    }

    #contact .w-75 {
        width: 90% !important;
    }
}